<div class="container-fluid p-0">
  <div class="row">
		<div class="mx-auto col-lg-10 col-xl-8">
      <h3>Extensions</h3>
      <hr class="my-4">
      <div class="mb-5">
        <h3>
          Fetch floor price on Opensea
          <a class="float-end" href="https://drive.google.com/u/1/uc?id=18U0-nwT7Ov3Ci0pnQsxdc4BLoUPWsTgy&export=download" target="_blank">Download</a>
        </h3>
        <ul class="list-unstyled">
          <li class="mt-3">
            <h4>1. Open any NFT's collection page on Opensea</h4>
            <img width="500px" src="https://lh3.googleusercontent.com/d/18tP02OGlB6Tg_lNJ_slMFjXSs3u2CbKZ">
          </li>
          <li class="mt-3">
            <h4>2. Move the mouse cursor to the NFT's name, you will see the Price Chart</h4>
            <img width="500px" src="https://lh3.googleusercontent.com/d/1N0h9bFjjqiUvZpBYULkwfyBggokQ8J8-">
          </li>
          <li class="mt-3">
            <h4>3. If you want to get more information, you can click the Show More Button, and it will redirect to the NFT detail page</h4>
            <img width="500px" src="https://lh3.googleusercontent.com/d/1aMOFM6ax3QeJFhQ1sOL2o9_E3EiRQOvB">
          </li>
        </ul>
      </div>
      <div>
        <h3>To install extension manually you need to unzip the extension first. Follow the steps to load the unpacked extension.</h3>
        <ul class="list-unstyled">
          <li class="mt-3">
            <h4>1. Goto Chrome Settings using three dots on the top right corner.</h4>
            <br>
            <img width="500px" src="https://cdnblog.webkul.com/blog/wp-content/uploads/2019/07/15065417/1-2.png">
          </li>
          <li class="mt-3">
            <h4>2. Then Select Extensions.</h4>
            <br>
            <img width="500px" src="https://cdnblog.webkul.com/blog/wp-content/uploads/2019/07/15065541/2-3.png">
            <br>
            You may directly open extensions using chrome://extensions
          </li>
          <li class="mt-3">
            <h4>3. Now, Enable developer mode.</h4>
            <br>
            <img width="500px" src="https://cdnblog.webkul.com/blog/wp-content/uploads/2019/07/15065714/3-2.png">
          </li>
          <li class="mt-3">
            <h4>4. Click on Load Unpacked and select your Unzip folder.</h4>
            <br>
            <img width="500px" src="https://cdnblog.webkul.com/blog/wp-content/uploads/2019/07/15065856/5-3.png">
            <br>
            Note: You need to select the folder in which the manifest file exists. In the screenshot, we have selected the installer folder inside Unzipped folder as it is the installer folder for our extension.
          </li>
          <li class="mt-3">
            <h4>5. The extension will be installed now.</h4>
            <br>
            <img width="500px" src="https://cdnblog.webkul.com/blog/wp-content/uploads/2019/07/15070219/6-3.png">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>