<div class="container row text-center mint col-10 mx-auto">
  <h3>Total minted NFT: <span id="mintedQty"></span></h3>
  <div class="col-12 m-3 border-top">
    <a class="btn btn-lg btn-primary mintBtn m-5">Mint</a>
  </div>
</div>