<div class="container row text-center qanda mx-auto">
  <section class="row justify-content-center">
    <div class="col-10">
      <h1 class="my-5">Q & A</h1>
      <ul class="list-group text-start">
        <li class="list-group-item bg-none border-0">
          <p>Q: What is NFT Hunter</p>
          A: NFT Hunter is a company that focuses on mining valuable NFTs and provides users with the trends of various statistical indicators of NFTs.
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: What are the functions of NFT Hunter</p>
          A: Statistics of NFT trend changes: including blue-chip holding ratio, blue-chip purchases, floor prices, sales, ranking changes, etc.
          Analysis of changes in NFT indicators: including the proportion of blue-chip holders, floor price cycle changes, holder cycle changes, buying and selling cycle changes, transaction cycle changes, etc.
          NFT ranking: including buy-in ranking analysis, blue-chip holding ratio analysis, etc.
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: Features of NFT Hunter Pass</p>
          A: Hunter Pass is the pass of the NFT HUnter platform. At present, you can use all the functions of the current platform. The current platform is in internal testing, and you cannot use the platform functions without the Hunter Pass.
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: How to get NFT Hunter Pass</p>
          A: The project is in its infancy. Currently, we use the free mint method. Users only need to pay the handling fee to obtain NFT and enjoy all the permissions of the platform.
        </li>
      </ul>
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-10">
      <h1 class="my-5">Road map</h1>
      <ul class="list-group text-start">
        <li class="list-group-item bg-none border-0">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-circle align-middle me-2"><circle cx="12" cy="12" r="10"></circle><polyline points="8 12 12 16 16 12"></polyline><line x1="12" y1="8" x2="12" y2="16"></line></svg>
            Discord Robot: Contains price change trend reminders, tracking reminders, transaction reminders
          </p>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-circle align-middle me-2"><circle cx="12" cy="12" r="10"></circle><polyline points="8 12 12 16 16 12"></polyline><line x1="12" y1="8" x2="12" y2="16"></line></svg>
            Hunter Pass pledge, accumulate points, and exchange Hunter Token
          </p>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-circle align-middle me-2"><circle cx="12" cy="12" r="10"></circle><polyline points="8 12 12 16 16 12"></polyline><line x1="12" y1="8" x2="12" y2="16"></line></svg>
            Hunter Subscription Service: Purchase subscription service through Hunter Token, you can use all the functions of the platform within a certain period
          </p>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-circle align-middle me-2"><circle cx="12" cy="12" r="10"></circle><polyline points="8 12 12 16 16 12"></polyline><line x1="12" y1="8" x2="12" y2="16"></line></svg>
            Hunter Mall: Whitelist for point exchange, Hunter Token, follow-up value-added services, etc.
          </p>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-circle align-middle me-2"><circle cx="12" cy="12" r="10"></circle><polyline points="8 12 12 16 16 12"></polyline><line x1="12" y1="8" x2="12" y2="16"></line></svg>
            Cross-chain NFT data integration
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>