<div class="m-3">
  <div class="m-3">
    <h3 class="text-center"> Nft SnapShot </h3>
  </div>
  <div id="snapshot-container" class="mt-2">
    <div class="container">
      <% @results.each do |r| %>
        <div class="row">
          <h2 class="text-center p-3 base_line"><%= r[:year] %></h2>
          <% r[:monthes].each do |m| %>
            <div class="mb-3 col-4">
              <h4 class="text-center p-2"><%= m[:month] %>月</h4>
              <div class="row">
                <% m[:dates].each do |d| %>
                  <div class="text-center col-2 p-3">
                    <%= link_to d[:day], nft_snap_shot_path(d[:id]) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>